<!DOCTYPE html>
<html>
    <head><title>sample post for searchRecord</title></head>
<body>

<form action="/searchRecord" method="post">
  start date: <input type="text" name="startDate"> ( ex:2016-01-15)<br>
  end date: <input type="text" name="endDate"> ( ex:2017-01-20)<br>
  <input type="submit" value="Submit">
</form>


</body>
</html>
